@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(circle, #f9f9f9, #e790f0)
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}
